<div class="container" th:fragment="firstscript" xmlns:th="http://www.w3.org/1999/xhtml">

    <script type="text/javascript">
        $(document).ready(function () {
//            $("#loading").css('visibility', 'hidden'); // Hide element
            $("#customloader").css('visibility', 'hidden'); // Hide element
        });

        /* hit controller to create (insert) data in DB */
        function saveStudentFn() {
            var formData = $("#studentform").serialize();
            startLoader();

            $.ajax({
                type: "post",
                url: "/admin/saveStudent",
                data: formData,
                dataType: "json",
                success: function (data) {
                    swal("Welcome ", data.message);

                    stopLoader();
                }
            });

        }

        /* hit controller to fetch data from database and display in table */
        function listStudentFn() {
            startLoader();
            $.ajax({
                type: "get",
                url: "/admin/listStudent",
                data: "",
                dataType: "json",

                success: function (data) {
                    tableDataReset();
                    var dataObj = data.queryList;
                    tableDataLoad(dataObj);

                    stopLoader();
                }
            });

        }

        /*
         delete table row(tr) except table header(gt(0))
         */
        function tableDataReset() {
            $("#listStudentTable").find("tr:gt(0)").remove();
        }

        function tableDataLoad(dataObj) {
            $.each(dataObj, function (index, value) {
                var $row = $('<tr>' +
                        '<td>' + index + '</td>' +
                        '<td>' + dataObj[index].student_id + '</td>' +
                        '<td>' + dataObj[index].student_name + '</td>' +
                        '<td>' + value.course_id + '</td>' +
                        '</tr>');
                $('table> tbody').append($row);
            });
        }

        function startLoader() {
            $("#outerdiv").css({ opacity: 0.5 });
            $("#customloader").css('visibility', 'visible'); // Hide element
            $("#studentform :input").prop("disabled", true);
        }

        function stopLoader() {
            $("#outerdiv").css({ opacity: 1 });
            $("#studentform :input").prop("disabled", false);
            $("#customloader").css('visibility', 'hidden'); // Show element
        }


    </script>

</div>