<div class="container" th:fragment="firstscript" xmlns:th="http://www.w3.org/1999/xhtml">

    <script type="text/javascript">
        $(document).ready(function () {
//            alert("Welcome dev team");
            $("#pageContent").load("show.html");
        });

        function createFn() {
            var bkash = $("#bikashNo").val();
            alert("mobile no: " + bkash);
        }

        function updateFn() {
            alert("ok update");
        }

        /* hit controller to create (insert) data in DB */
        function saveStudentFn() {
            var formData = $("#studentform").serialize();
            $("#loading").css("display", "block");

            $.ajax({
                type: "post",
                url: "/admin/saveStudent",
                data: formData,
                dataType: "json",
                success: function (data) {
                    swal("Welcome ", data.message);
                    $("#loading").css("display", "none");
                }
            });

        }

        /* hit controller to fetch data from database and display in table */
        function listStudentFn() {
            $("#loading").css("display", "block");
            $.ajax({
                type: "get",
                url: "/admin/listStudent",
                data: "",
                dataType: "json",

                success: function (data) {
                    tableDataReset();
                    var dataObj = data.queryList;

                    $.each(dataObj, function (index, value) {
                        var $row = $('<tr>' +
                                '<td>' + index + '</td>' +
                                '<td>' + dataObj[index].student_id + '</td>' +
                                '<td>' + dataObj[index].student_name + '</td>' +
                                '<td>' + value.course_id + '</td>' +
                                '</tr>');
                        $('table> tbody').append($row);
                    });
                    $("#loading").css("display", "none");
                }
            });
        }

        /*
         delete table row(tr) except table header(gt(0))
         */
        function tableDataReset() {
            $("#listStudentTable").find("tr:gt(0)").remove();
        }


    </script>

</div>