<div class="container" th:fragment="firstscript" xmlns:th="http://www.w3.org/1999/xhtml">

    <script type="text/javascript">
        var loaderId = "#customloader";
        var formId = "#customloader";
        var outerdivId = "#outerdiv";

        $(document).ready(function () {
//            $("#loading").css('visibility', 'hidden'); // Hide element
            $(loaderId).css('visibility', 'hidden'); // Hide element
//            listStudentFn();
            $('#example').DataTable();

        });


        /* hit controller to fetch data from database and display in table */
        function listStudentFn() {
            startLoader(loaderId, formId, outerdivId);
            $.ajax({
                type: "get",
                url: "/admin/listStudent",
                data: "",
                dataType: "json",

                success: function (data) {
                    tableDataReset();
                    var dataObj = data.queryList;
                    tableDataLoad(dataObj);

                    stopLoader(loaderId, formId, outerdivId);
                }
            });

        }

        /*
         delete table row(tr) except table header(gt(0))
         */
        function tableDataReset() {
            $("#listStudentTable").find("tr:gt(0)").remove();
        }

        function tableDataLoad(dataObj) {
            $.each(dataObj, function (index, value) {
                var $row = $('<tr>' +
                        '<td>' + index + '</td>' +
                        '<td>' + dataObj[index].student_id + '</td>' +
                        '<td>' + dataObj[index].student_name + '</td>' +
                        '<td>' + value.course_id + '</td>' +
                        '</tr>');
                $('table> tbody').append($row);
            });
        }


    </script>

</div>