<div class="container" th:fragment="firstcreate" xmlns:th="http://www.w3.org/1999/xhtml">
    <form id="studentform">
        <div class="row">

            <div class="col-sm-8">
                <h1>(Falgun)Student Info Rest.</h1>
            </div>

            <div class="col-sm-4">
                <h6><a href="/"><-back</a></h6>
            </div>

            <div class="col-sm-4">

                <!--<label class="col-md-5" for="studentId">Rest Std Id: <span class="mandatoryfield">*</span></label>-->
                <!--<input placeholder="" name="studentId" id="studentId"-->
                       <!--class="input-fields validate[required]"-->
                       <!--maxlength="50"-->
                       <!--tyle=" height: 21px; width:250px;" type="text">-->

            </div>
            <div class="col-sm-4" id="col2">

                <!--<label class="col-md-5" for="studentName">Rest Std Nm: <span class="mandatoryfield">*</span></label>-->
                <!--<input placeholder="" name="studentName" id="studentName"-->
                       <!--class="input-fields validate[required]"-->
                       <!--maxlength="50"-->
                       <!--tyle=" height: 21px; width:250px;" type="text">-->

            </div>
            <div class="col-sm-4" id="col3">

                <!--<label class="col-md-5" for="hallName">Rest Std Hall: <span class="mandatoryfield">*</span></label>-->
                <!--<input placeholder="" name="hallName" id="hallName"-->
                       <!--class="input-fields validate[required]"-->
                       <!--maxlength="50"-->
                       <!--tyle=" height: 21px; width:250px;" type="text">-->

                <button id="saveStudent" name="saveStudent" type="button" class="btn blue btn-sm" onclick='listRestStudent()'><i
                        class="fa fa-check"></i> Go
                </button>


            </div>
        </div>
    </form>

</div>
