<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_custom">

<head>
    <title>Home</title>
</head>

<div layout:fragment="content">
    <h4 class="mb-sm-2 mt-2 ml-2 col-md-9 border">&nbsp Meet Rebel poet </h4>
    <div class="mb-sm-2 mt-2 ml-2 col-md-9 border">
         <p>‘পুজারী, দুয়ার খোল,<br>
            ক্ষুধার ঠাকুর দাঁড়ায়ে দুয়ারে পুজার সময় হলো !’<br>
            </p>
       <img class="second-slide" th:src="@{/asset/images/nazrul.jpg}" alt="">

       <!--<p>‘পুজারী, দুয়ার খোল,<br>-->
            <!--ক্ষুধার ঠাকুর দাঁড়ায়ে দুয়ারে পুজার সময় হলো !’<br>-->
            <!--স্বপ্ন দেখিয়া আকুল পূজারী খুলিল ভজনালয়<br>-->
            <!--দেবতার বরে আজ রাজা- টাজা হয়ে যাবে নিশ্চয় !<br>-->
            <!--জীর্ণ-বস্ত্র শীর্ণ-গাত্র, ক্ষুধায় কন্ঠ ক্ষীণ<br>-->
            <!--ডাকিল পান্থ, ‘দ্বার খোল বাবা, খাইনা তো সাত দিন !’<br>-->
            <!--সহসা বন্ধ হল মন্দির , ভুখারী ফিরিয়া চলে<br>-->
            <!--তিমির রাত্রি পথ জুড়ে তার ক্ষুধার মানিক জ্বলে !<br>-->
            <!--ভুখারী ফুকারি’ কয়,<br>-->
            <!--‘ঐ মন্দির পুজারীর, হায় দেবতা, তোমার নয় !’<br>-->
            <!--মসজিদে কাল শিরনী আছিল, অঢেল গোস্ত রুটি<br>-->
            <!--বাঁচিয়া গিয়াছে, মোল্লা সাহেব হেসে তাই কুটিকুটি !<br>-->
            <!--এমন সময় এলো মুসাফির গায়ে-আজারির চিন্<br>-->
            <!--বলে, ‘বাবা, আমি ভুখা ফাকা আছি আজ নিয়ে সাত দিন !’<br>-->
            <!--তেরিয়াঁ হইয়া হাঁকিল মোল্লা–”ভ্যালা হলো দেখি লেঠা,<br>-->
            <!--ভুখা আছ মর গে-ভাগাড়ে গিয়ে ! নামাজ পড়িস বেটা ?”<br>-->
            <!--ভুখারী কহিল, ‘না বাবা !’ মোল্লা হাঁকিল- ‘তা হলে শালা<br>-->
            <!--সোজা পথ দেখ !’ গোস্ত-রুটি নিয়া মসজিদে দিল তালা !<br>-->
            <!--ভুখারী ফিরিয়া চলে,<br>-->
            <!--চলিতে চলিতে বলে–<br>-->
            <!--“আশিটা বছর কেটে গেল, আমি ডাকিনি তেমায় কভু,<br>-->
            <!--আমার ক্ষুধার অন্ন তা’বলে বন্ধ করোনি প্রভু !<br>-->
            <!--তব মজসিদ মন্দিরে প্রভু নাই মানুষের দাবী,<br>-->
            <!--মোল্লা-পুরুত লাগায়েছে তার সকল দুয়ারে চাবী !”<br>-->
            <!--কোথা চেঙ্গিস, গজনী-মামুদ, কোথায় কালাপাহাড় ;<br>-->
            <!--ভেঙ্গে ফেল ঐ ভজনালয়ের যত তালা-দেওয়া- দ্বার !<br>-->
            <!--খোদার ঘরে কে কপাট লাগায় কে দেয় সেখানে তালা ?<br>-->
            <!--সব দ্বার এর খোলা র’বে, চালা হাতুড়ি শাবল চালা !</p>-->
    </div>

</div>

</html>

